body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:floralwhite;
    color: #333;
}
h1{
    text-align: center;
    color: #007bff;
    padding-top: 20px;
}
nav{
    background-color: #333;
overflow: hidden;
}
nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;

}
nav a:hover {
background-color: #ddd;
color: black;
}
.welcome{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0,0, 0.1);
    line-height: 1.6;
}
h2{
    color: #28a745;
    border-bottom: 2px solid #28a745;
    padding-bottom: 5px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}